{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{parent()}}
    <style>
        html{
            height:100%;
            font-size:12px;
        }
        body.login-body{
            height:100%;
            padding-top:20px;
        }
        .btn-info {
            color: #fff;
            background-color: #000;
            border-color: #000;
        }
        .btn-info:hover {
            color: #fff;
            background-color: #333;
            border-color: #000;
        }
    </style>
{% endblock %}

{% block body %}
 <div id="page-content-wrapper">
 {% include "nav.html.twig" %}
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-sm-6 col-md-6 col-lg-4 col-xs-6" style="margin-top:90px;">
            <form method="post">
                <br>
                <h2 style="color:blck; text-align:center;">Crear Cursos</h2>
                <div class="form-group">
                    <input type="text" name="course" id="inputCurso" class="form-control form-control-lg" placeholder="course" required>
                </div>
                <div class="form-group">
                    <input type="text" name="title" id="inputTitle" class="form-control form-control-lg" placeholder="title" required>
                </div>
                <div class="form-group">
                    <input type="number" name="month" id="inputMonth" class="form-control form-control-lg" placeholder="Duración" required>
                </div>
                <div class="form-group">
                    <input type="number" name="year" id="inputYear" class="form-control form-control-lg" placeholder="Año" required>
                </div>
                <div class="form-group">
                    <button id="btnCourse" class="btn btn-info btn-lg btn-block" type="submit">Registrar Course</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $("#btnCourse").click(function(e){
                e.preventDefault();
                    $.ajax({
                        url: "{{url('courseManually')}}",
                        type: "POST",
                        dataType: 'json',
                        data: {
                            "course":$("#inputCurso").val(),
                            "title":$("#inputTitle").val(),
                            "month":$("#inputMonth").val(),
                            "year":$("#inputYear").val(),
                        },
                        success: function(result){
                            if(result.redirect){
                               alert('Course Registrado correctamente.');
                            }
                             var tmpLink = '<a id="tmpLink" href="'+result.url+'"></a>';
                                $("body").append(tmpLink);
                                $("#tmpLink")[0].click();
                        }
                    });
            });
        });
    </script>
{% endblock %}